.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-float infinite 3s ease-in-out;
  }
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.App-link {
  color: rgb(112, 76, 182);
}

#loading, #blankResuls {
  margin-top: 50px;
}

@keyframes App-logo-float {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(0px);
  }
}

.search {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.container {
  margin: 20px;
}

h1 {
  text-align: center;
  padding-top: 20px;
  display: flex;
  flex-wrap: wrap;
}

.form-control, button {
  margin: 10px;
  min-width: 200px;
  max-width: 200px;;
}

.headerContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.searchContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

td, th {
  min-width: 100px;
}

.cardListParent {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  position: relative;
  top: 20px;
}

@media only screen and (min-width: 1601px) {
  .card {
    max-width: 25%;
  }
  
  .searchContainer {
    min-width: 400px;
    justify-content: center;
  }
}

@media only screen and (max-width: 1600px) {
  .card {
    min-width: 50%;
    max-width: 50%;
  }
  .searchContainer {
    min-width: 400px;
    justify-content: center;
    min-width: 100%;
  }
}

@media only screen and (max-width: 700px) {
  .card {
    min-width: 80%;
  }
  .searchContainer {
    max-width: 200px;
  }

  .cardListParent {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }

}





